@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    overflow-x: hidden;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

html {background-color: #ccdbe3
}

@layer base {
    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }
}

.x-tiny{
    width: 0.5rem;
    height: 0.5rem;
}

.tiny{
    width: 1rem;
    height: 1rem;
}

.x-small{
    width: 2rem;
    height: 2rem;
}

.small{
    width: 4rem;
    height: 4rem;
}

.medium{
    width: 6rem;
    height: 6rem;
}

.large{
    width: 10rem;
    height: 10rem;
}

.x-large{
    width: 14rem;
    height: 14rem;
}

.x2-large{
    width: 18rem;
    height: 18rem;
}

.huge{
    width: 24rem;
    height: 24rem;
}

.x-huge{
    width: 28rem;
    height: 28rem;
}

.x2-huge{
    width: 32rem;
    height: 32rem;
}

.x3-huge{
    width: 36rem;
    height: 36rem;
}

.massive{
    width: 42rem;
    height: 42rem;
}

.x-massive{
    width: 48rem;
    height: 48rem;
}

.x2-massive{
    width: 56rem;
    height: 56rem;
}

.parallax__viewport {
    height: 100vh;

    overflow-x: hidden;
    overflow-y: auto;

    perspective: 1px;
}

.parallax-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.layer1 {
    transform: translateZ(0);
}

.layer2 {
    transform: translateZ(-1px);
}

.layer3 {
    transform: translateZ(-2px);
}

.layer4 {
    transform: translateZ(-3px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes falling {
    0% {
        transform: translate3d(0, 0, 0)
    }

    100% {
        transform: translate3d(-230px, 5040px, 0)
    }
}

@keyframes animate-float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }

}

@keyframes animate-float-extra-long {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1050px);
    }

}

.spin {
    animation: spin 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.falling {
    animation: falling 16s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.float-slow {
    animation: animate-float 12s cubic-bezier(.23,-0.02,.83,1.04) infinite;
}

.float {
    animation: animate-float 8s cubic-bezier(.23,-0.02,.83,1.04) infinite;
}

.float-large-overshoot {
    animation: animate-float 7s cubic-bezier(.34,1.16,.42,2.12) infinite;
}

.float-small-overshoot {
    animation: animate-float 8s cubic-bezier(.3,.89,.45,1.33) infinite;
}

.float-extra-long {
    animation: animate-float-extra-long 40s cubic-bezier(.67,.45,.31,.57) infinite;
}

.float-fast {
    animation: animate-float 4s cubic-bezier(.23,-0.02,.83,1.04) infinite;
}

.animation-delay-100{
    animation-delay: 100ms;
}

.animation-delay-150{
    animation-delay: 150ms;
}

.animation-delay-200{
    animation-delay: 200ms;
}

.animation-delay-250{
    animation-delay: 250ms;
}

.animation-delay-300{
    animation-delay: 300ms;
}

.animation-delay-400{
    animation-delay: 400ms;
}

.animation-delay-500{
    animation-delay: 500ms;
}

.animation-delay-600{
    animation-delay: 600ms;
}

.animation-delay-650{
    animation-delay: 650ms;
}

.animation-delay-700{
    animation-delay: 700ms;
}

.animation-delay-750{
    animation-delay: 750ms;
}

.animation-delay-800{
    animation-delay: 800ms;
}

.animation-delay-850{
    animation-delay: 850ms;
}


.text-with-red-shadow {
    text-shadow: 1px 1px 0px #780000,
    1.25px 1.25px 0px #820101,
    1.75px 1.75px 0px #8c0202,
    2px 2px 0px #960202,
    2.25px 2.25px 0px #a00202,
    2.5px 2.5px 0px #aa0202,
    2.75px 2.75px 0px #b40202,
    3px 3px 0px #be0202,
    3.25px 3.25px 0px #c80202,
    3.50px 3.50px 0px #d20202,
    3.75px 3.75px 0px #dc0202,
    4px 4px 0px #e60202,
    4.25px 4.25px 0px #f00202,
    4.50px 4.50px 0px #fa0202,
    4.75px 4.75px 0px #ff0202;

}

.text-with-gradient {
    text-shadow: 1px 1px 0px #23719f,
    1.25px 1.25px 0px #3a7ba6,
    1.75px 1.75px 0px #4c86ac,
    2px 2px 0px #5e90b3,
    2.25px 2.25px 0px #6e9bba,
    2.5px 2.5px 0px #7ea6c0,
    2.75px 2.75px 0px #8eb0c7,
    3px 3px 0px #9ebbce,
    3.25px 3.25px 0px #aec6d5,
    3.50px 3.50px 0px #bed1dd,
    3.75px 3.75px 0px #cedce4;
    /*4.75px 4.75px 0px #ff0202;*/

}

.text-with-red-shadow-no-gradient {
    text-shadow: 1px 1px 0px #b40202,
    1.25px 1.25px 0px #b40202,
    1.75px 1.75px 0px #b40202,
    2px 2px 0px #b40202,
    2.25px 2.25px 0px #b40202,
    2.5px 2.5px 0px #b40202,
    2.75px 2.75px 0px #b40202,
    3px 3px 0px #b40202,
    3.25px 3.25px 0px #b40202,
    3.50px 3.50px 0px #b40202,
    3.75px 3.75px 0px #b40202,
    4px 4px 0px #b40202,
    4.25px 4.25px 0px #b40202,
    4.50px 4.50px 0px #b40202,
    4.75px 4.75px 0px #b40202;

}

.text-with-red-shadow-no-gradient-very-long {
    text-shadow: 1px 1px 0px #b40202,
    1.25px 1.25px 0px #b40202,
    1.75px 1.75px 0px #b40202,
    2px 2px 0px #b40202,
    2.25px 2.25px 0px #b40202,
    2.5px 2.5px 0px #b40202,
    2.75px 2.75px 0px #b40202,
    3px 3px 0px #b40202,
    3.25px 3.25px 0px #b40202,
    3.50px 3.50px 0px #b40202,
    3.75px 3.75px 0px #b40202,
    4px 4px 0px #b40202,
    4.25px 4.25px 0px #b40202,
    4.50px 4.50px 0px #b40202,
    4.75px 4.75px 0px #b40202,
    5px 5px 0px #b40202,
    5.25px 5.25px 0px #b40202,
    5.50px 5.50px 0px #b40202,
    5.75px 5.75px 0px #b40202,
    6px 6px 0px #b40202,
    6.25px 6.25px 0px #b40202,
    6.50px 6.50px 0px #b40202,
    6.75px 6.75px 0px #b40202,
    7px 7px 0px #b40202,
    7.25px 7.25px 0px #b40202,
    7.50px 7.50px 0px #b40202,
    7.75px 7.75px 0px #b40202,
    8px 8px 0px #b40202,
    8.25px 8.25px 0px #b40202,
    8.50px 8.50px 0px #b40202,
    8.75px 8.75px 0px #b40202,
    9px 9px 0px #b40202,
    9.25px 9.25px 0px #b40202,
    9.50px 9.50px 0px #b40202,
    9.75px 9.75px 0px #b40202,
    10px 10px 0px #b40202,
    10.25px 10.25px 0px #b40202,
    10.50px 10.50px 0px #b40202,
    10.75px 10.75px 0px #b40202,
    11px 11px 0px #b40202,
    11.25px 11.25px 0px #b40202,
    11.50px 11.50px 0px #b40202,
    11.75px 11.75px 0px #b40202,
    12px 12px 0px #b40202,
    12.25px 12.25px 0px #b40202,
    12.50px 12.50px 0px #b40202,
    12.75px 12.75px 0px #b40202,
    13px 13px 0px #b40202,
    13.25px 13.25px 0px #b40202,
    13.50px 13.50px 0px #b40202,
    13.75px 13.75px 0px #b40202,
    14px 14px 0px #b40202,
    14.25px 14.25px 0px #b40202,
    14.50px 14.50px 0px #b40202,
    14.75px 14.75px 0px #b40202,
    15px 15px 0px #b40202,
    15.25px 15.25px 0px #b40202,
    15.50px 15.50px 0px #b40202,
    15.75px 15.75px 0px #b40202,
    16px 16px 0px #b40202,
    16.25px 16.25px 0px #b40202,
    16.50px 16.50px 0px #b40202,
    16.75px 16.75px 0px #b40202,
    17px 17px 0px #b40202,
    17.25px 17.25px 0px #b40202;

}

.text-with-black-shadow {
    text-shadow: 1px 1px 0px #000000,
    1.25px 1.25px 0px #000000,
    1.75px 1.75px 0px #000000,
    2px 2px 0px #000000,
    2.25px 2.25px 0px #000000,
    2.5px 2.5px 0px #000000,
    2.75px 2.75px 0px #000000;

}

.text-with-grey-shadow {
    text-shadow: 1px 1px 0px rgba(176, 176, 176, 0.5),
    1.25px 1.25px 0px rgba(176, 176, 176, 0.5),
    1.75px 1.75px 0px rgba(176, 176, 176, 0.5),
    2px 2px 0px rgba(176, 176, 176, 0.5);
}